html {
  font-size: 62.5%; }

body {
  background: #f9f8f6;
  font-size: 14px; }
  body li {
    list-style: none; }

header {
  padding-top: 30px; }
  header .logo {
    width: 100%; }
  @media (max-width: 550px) {
    header .pc_navi {
      display: none; }
    header .sp_navi ul {
      text-align: center; }
      header .sp_navi ul li {
        display: inline;
        margin-left: 1em;
        margin-right: 1em; }
    header .logo {
      width: 100%;
      text-align: center; } }
  @media (min-width: 551px) {
    header .sp_navi {
      display: none; }
    header .pc_navi ul {
      padding-top: 25px;
      text-align: right; }
      header .pc_navi ul li {
        display: inline;
        margin-left: 1em;
        margin-right: 0em; } }

#items .new_items {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center; }
#items .container_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
#items .item_box {
  display: block;
  margin-bottom: 1rem;
  width: calc(33.3% - 30px);
  margin: 5px;
  padding: 10px;
  background-color: #ffffff; }
  #items .item_box img {
    display: block;
    margin-bottom: 3rem;
    width: 100%;
    height: auto; }
#items .popular_items {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center; }
@media (min-width: 551px) {
  #items .new_items_02 {
    display: none; }
  #items .popular_items_02 {
    display: none; } }
@media (max-width: 550px) {
  #items .container_items {
    justify-content: space-between; }
  #items .item_box {
    width: calc(50% - 30px);
    margin: 5px; }
  #items .new_items_01 {
    display: none; }
  #items .popular_items_01 {
    display: none; } }

#guide .shopping_guide {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center; }
#guide .container_guide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
#guide .guide_box {
  margin-bottom: 1rem;
  width: calc(50% - 30px);
  margin: 5px;
  padding: 10px;
  background-color: #ffffff; }
  #guide .guide_box img {
    display: block;
    margin-bottom: 3rem;
    width: 100%;
    height: auto; }
#guide h2 {
  font-size: 16px;
  font-weight: bold;
  color: #887f69; }
#guide h3 {
  font-size: 14px;
  font-weight: bold;
  color: #887f69; }
#guide .otodoke img {
  width: 50%; }
@media (min-width: 551px) {
  #guide .shopping_guide_02 {
    display: none; } }
@media (max-width: 550px) {
  #guide .shopping_guide_01 {
    display: none; }
  #guide .container_guide {
    display: flex;
    flex-direction: column; }
  #guide .guide_box {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: #ffffff; } }

#side_menu .itemserch {
  height: 60px;
  padding: 1rem;
  background-color: #ffffff; }
#side_menu #search_box_main {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2ddd4; }
#side_menu .keyword_01 {
  width: 80%;
  padding: 0px;
  margin: 0px;
  height: auto; }
  #side_menu .keyword_01 input[type=search] {
    border: none;
    width: 90%;
    background-color: #e2ddd4; }
#side_menu #keyword_01_01 {
  color: #fff; }
#side_menu .keyword_02 {
  width: 20%;
  height: auto; }
  #side_menu .keyword_02 input {
    display: block;
    margin-left: auto;
    margin-right: 3px; }
#side_menu ul li {
  background-color: #887f69; }
  #side_menu ul li img {
    padding: 1rem;
    padding-top: 1.5rem; }
#side_menu ul .side_navi_li .pagelink .left {
  width: 50%;
  text-align: left; }
#side_menu ul .side_navi_li .pagelink .right {
  width: 50%;
  text-align: right; }
#side_menu ul .categories {
  margin-bottom: 0rem; }
#side_menu ul .categories_01 {
  padding: 1rem;
  padding-top: 1.5rem;
  background-color: #ffffff;
  margin-bottom: 0.2rem;
  font-weight: bold; }
#side_menu .about {
  background-color: #887f69; }
  #side_menu .about img {
    padding: 1rem;
    padding-top: 1.5rem; }
#side_menu #about_box_01 {
  background-color: #ffffff; }
  #side_menu #about_box_01 .container_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  #side_menu #about_box_01 .about_box {
    margin-bottom: 1rem;
    background-color: #ffffff;
    padding: 1rem; }
    #side_menu #about_box_01 .about_box img {
      display: block;
      width: 100%;
      height: auto; }
    #side_menu #about_box_01 .about_box .more {
      width: 50%;
      margin-left: auto;
      margin-right: auto; }
#side_menu .shop_info {
  background-color: #887f69; }
  #side_menu .shop_info img {
    padding: 1rem;
    padding-top: 1.5rem; }
#side_menu #shop_info_01 {
  background-color: #ffffff; }
  #side_menu #shop_info_01 .container_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  #side_menu #shop_info_01 .shopinfo_box {
    margin-bottom: 1rem;
    background-color: #ffffff;
    padding: 1rem; }
    #side_menu #shop_info_01 .shopinfo_box img {
      display: block;
      width: 100%;
      height: auto; }
    #side_menu #shop_info_01 .shopinfo_box .more {
      width: 50%;
      margin-left: auto;
      margin-right: auto; }
@media (max-width: 550px) {
  #side_menu .about_box {
    justify-content: space-between;
    width: 40%; }
  #side_menu .shopinfo_box {
    justify-content: space-between;
    width: 40%; } }

#footer_contenst {
  text-align: center; }
  #footer_contenst .page_top {
    margin-top: 20px;
    text-align: right; }
  #footer_contenst .footer_line {
    border-bottom: solid #887f69; }
  #footer_contenst .footer_li {
    padding-top: 15px; }
  #footer_contenst li {
    display: inline; }

#home_area .category {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #887f69;
  background-color: #e2ddd4; }
  #home_area .category p {
    margin-bottom: 0rem; }
#home_area .pc_navi_li {
  display: flex;
  width: 100%;
  margin-top: 2rem; }
  #home_area .pc_navi_li a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background-color: #887f69;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem; }
  #home_area .pc_navi_li .navi_back {
    width: 50%;
    text-align: left; }
  #home_area .pc_navi_li .navi_next {
    width: 50%;
    text-align: right; }
#home_area .new_items {
  padding-bottom: 15px;
  text-align: center; }
@media (min-width: 551px) {
  #home_area .recent_items_02 {
    display: none; } }
@media (max-width: 550px) {
  #home_area .recent_items_01 {
    display: none; } }

/*# sourceMappingURL=Ssite.css.map */
