@charset "utf-8";

html {
font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
font-size: $size + px;
font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$basecolor : #f9f8f6; //薄黄土色
$subcolor  : #ffffff; //白
$keycolor  : #887f69; //濃黄土色

//body共通----------------------------------------------------------------------
body{
  background: $basecolor;
  li{
    list-style: none;
  }
}
//body共通----------------------------------------------------------------------
//header------------------------------------------------------------------------
header{
  padding-top: 30px;
  .logo{
    width: 100%;
  }
  @media (max-width: 550px) { //SPver
    .pc_navi{
      display: none;
    }
    .sp_navi{
      ul{
        text-align: center;
        li{
          display: inline;
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }
    .logo{
    width: 100%;
    text-align: center;
    }
  }
  @media (min-width: 551px) { //PCver
    .sp_navi{
      display: none;
    }
    .pc_navi{
      ul{
        padding-top: 25px;
        text-align: right;
        li{
          display: inline;
          margin-left: 1em;
          margin-right: 0em;
        }
      }
    }
  }
}
//header------------------------------------------------------------------------
//items--------------------------------------------------------------------------
#items{
  .new_items {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .container_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  } 
  .item_box{
    margin-bottom: 1rem;
  	padding: 1rem;
  	width: 30%;
  	background-color: $subcolor;
    
    img {
      display: block;
	    margin-bottom: 3rem;
	    width: 100%;
	    height: auto;
    }
  }
  .popular_items{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  @media (min-width: 551px) { //PCver
    .new_items_02 {
      display: none;
    }
    .popular_items_02 {
      display: none;
    }
  }
  @media (max-width: 550px) { //SPver
    .container_items{
      justify-content: flex-start;
    }
    .item_box {
      margin: 0.5rem;
  	  width: 43%;
    }
    .new_items_01{
       display: none;
    }
    .popular_items_01{
       display: none;
    }
  }
}
//items-------------------------------------------------------------------------
//guide-------------------------------------------------------------------------
#guide{
  .shopping_guide{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .container_guide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .guide_box{
    margin-bottom: 1rem;
	  padding: 1rem;
	  width: 45%;
	  background-color: $subcolor;
	  img {
    display: block;
	  margin-bottom: 3rem;
	  width: 100%;
	  height: auto;
    }
  }
  h2{
    font-size: 16px;
    font-weight: bold;
    color: $keycolor;
  }
  h3{
    font-size: 14px;
    font-weight: bold;
    color: $keycolor;
  }

  .otodoke{
    img{
    width: 50%;
    }
  }
  @media (min-width: 551px) { //PCver
    .shopping_guide_02 {
      display: none;
    }
  }
  @media (max-width: 550px) { //SPver
    .shopping_guide_01 {
      display: none;
    }

    .container_guide{
      display: flex;
      flex-direction: column;
    }
    .guide_box{
      margin-bottom: 1rem;
	    padding: 1rem;
	    width: 100%;
	    background-color: $subcolor;
    }
  }
}
//guide-------------------------------------------------------------------------
//side_menu---------------------------------------------------------------------
#side_menu{
  .itemserch{
    height: 60px;
    padding: 1rem;
    background-color: $subcolor;
  }
  #search_box_main{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bbb;
  }
  .keyword_01{
    width: 80%;
    padding: 0px;
    margin: 0px;
    height: auto;
    input[type = search] {
      border: none; 
      width: 90%;
      color: #fff;
      background-color: #bbb;
    }
    #keyword_01_01{
      color: #fff;
    }
  }
  .keyword_02{ 
    width: 20%;
    height: auto;
    input{
    display: block;
    margin-left: auto;
    margin-right: 3px;
    }
  }
  ul{
    li{
      img{
      padding: 1rem;
      padding-top: 1.5rem;
      }
      background-color:$keycolor;
    }
    .categories{
      margin-bottom: 0rem;
    }
    .categories_01{
      padding: 1rem;
      padding-top: 1.5rem;
      background-color: $subcolor;
      margin-bottom: 0.2rem;
      font-weight: bold;
    }
  }
  .about{
    img{
      padding: 1rem;
      padding-top: 1.5rem;
    }
    background-color:$keycolor;
  }
  #about_box_01{
    background-color:$subcolor;
    .container_about{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }  
    .about_box{
      margin-bottom: 1rem;
  	  background-color: $subcolor;
  	  padding: 1rem;
    
      img {
        display: block;
	      width: 100%;
	      height: auto;
      }
      .more{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .shop_info{
    img{
      padding: 1rem;
      padding-top: 1.5rem;
    }
    background-color:$keycolor;
  }
  #shop_info_01{
    background-color:$subcolor;
    .container_info{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }  
    .shopinfo_box{
      margin-bottom: 1rem;
  	  background-color: $subcolor;
  	  padding: 1rem;
    
      img {
        display: block;
	      width: 100%;
	      height: auto;
      }
      .more{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  @media (max-width: 550px) { //SPver
    .about_box{
      justify-content: space-between;
  	  width: 40%;
    }
    .shopinfo_box{
      justify-content: space-between;
  	  width: 40%;
    }
  }
}
//side_menu---------------------------------------------------------------------
//footer------------------------------------------------------------------------
#footer_contenst{
  text-align: center;
  .page_top{
    margin-top: 20px;
    text-align: right;
  }  
  .footer_line{
    border-bottom: solid  $keycolor ;
  }
  .footer_li{
    padding-top: 15px;
  }
  li{
    display: inline;
  }
}
//footer------------------------------------------------------------------------
//second_page-------------------------------------------------------------------
#home_area{
  
  .category{
    p{
    margin-bottom: 0rem;
    }
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: $keycolor;
    background-color: #e2ddd4;
  }
  .pc_navi_li{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    a{
      font-weight: bold;
      text-decoration: none;
      color: $subcolor;
      background-color: $keycolor;
      padding: 1rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
      .navi_back{
        width: 50%;
        text-align: left;
      }
      .navi_next{
        width: 50%;
        text-align: right;
      }
  }
  .new_items{
    padding-bottom: 15px;
    text-align: center;
  }
  @media (min-width: 551px) { //PCver
    .recent_items_02 {
      display: none;
    }
  }
  @media (max-width: 550px) { //SPver
    .recent_items_01 {
      display: none;
    }
  }
}